html, body {
    padding: 0;
    margin: 0;
}

:root {
  --main-background-color: #a7d9e8;
  --highlight-color: #74a6b5;
  --highlight-font: arial, sans-serif;
}


header {
    background: var(--main-background-color);
    padding: 10px 0;
    h1 {
        font-family: var(--highlight-font);
        a {
            text-decoration: none;
            color: black;
        }
        a:hover, a:focus {
            text-decoration: underline;
            color: black;
        }
        img {
            width: 40px;
            height: 40px;
        }
    }
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

footer {
    margin: 50px 0;
    font-size: 80%;
    text-align: center;
}

a.button {
    display: inline-block;
    background: var(--main-background-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    border: 0;
    font-family: var(--highlight-font);
}
a.button:hover, a.button:focus {
    text-decoration: underline;
    color: black;
    background: var(--highlight-color);
}

.links {
    text-align: right;
    padding: 10px 0;
    a {
        display: inline-block;
        margin: 5px;
    }
}

h2, h3, h4 {
    font-family: var(--highlight-font);
}

.blog_content {
    img {
        margin: 20px 0;
        max-width: 100%;
    }
}

ul.blog-meta {
    margin: 10px 0;
    padding: 0;
    li {
        list-style-type: none;
        font-style: italic;
        margin: 5px 0;
        padding: 0;
    }
}

.end-page-navigation {
    margin: 40px 0 10px 0;
    font-family: var(--highlight-font);
}
@media screen and (min-width: 60rem) {
    .end-page-navigation {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
    }
}

.screenshots {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-gap: 10px;
    > div {
        text-align: center;
        a {
            img {
                border: 1px solid black;
                width: 100px;
                height: 100px;
            }
        }
        p {
            margin: 2px 0 20px 0;
            font-style: italic;
        }
    }
}
@media screen and (min-width: 650px) {
    .screenshots {
        display: grid;
        grid-template-columns: repeat(3, 210px);
        grid-gap: 10px;
        > div {
            width: 200px;
            a img {
                width: 200px;
                height: 200px;
            }
        }
    }
}


