---
layout: default
title: Welcome
---

<h2>What is DataTig?</h2>

<p>
    DataTig helps when a community of people want to crowd source a data set and they use a git repository to store the data.
</p>

<p>
    In these cases, DataTig can be used on the git repository to help people contribute new data or edit existing data, check data quality and transform the data into more useful forms for everyone to re-use.
</p>

<h2>Screenshots</h2>

<p>If you have a git repository with files of data (JSON, YAML or Markdown), just add a config file ...</p>

<div class="screenshots">
    <div>
        <a href="https://github.com/org-id/register/tree/main/lists/gb">
            <img src="{{ site.baseurl }}/images/screenshot.repo.thumb.png" alt="Screenshot of files in a git repository">
        </a>
        <p>Files of data in the repository</p>
    </div>
    <div>
        <a href="https://github.com/org-id/register/blob/main/datatig.yaml">
            <img src="{{ site.baseurl }}/images/screenshot.config.thumb.png" alt="Screenshot of a config file">
        </a>
        <p>Config file</p>
    </div>
</div>

<p>And get ...</p>

<div class="screenshots">
    <div>
        <a href="https://hub.datatig.com/gh/org-id/register/tree/main/type/lists/record">
            <img src="{{ site.baseurl }}/images/screenshot.list.thumb.png" alt="Screenshot listing data">
        </a>
        <p>Search data</p>
    </div>
    <div>
        <a href="https://hub.datatig.com/gh/org-id/register/tree/main/type/lists/record/gb-gov">
            <img src="{{ site.baseurl }}/images/screenshot.show.thumb.png" alt="Screenshot viewing data">
        </a>
        <p>View data</p>
    </div>
    <div>
        <a href="https://hub.datatig.com/gh/org-id/register/tree/main/type/lists/record/gb-gov">
            <img src="{{ site.baseurl }}/images/screenshot.errors.thumb.png" alt="Screenshot showing errorrs in data">
        </a>
        <p>Errors in data</p>
    </div>
    <div>
        <a href="https://hub.datatig.com/gh/org-id/register/tree/main/type/lists/field/listType">
            <img src="{{ site.baseurl }}/images/screenshot.field_stats.thumb.png" alt="Screenshot showing stats about data">
        </a>
        <p>Stats about data</p>
    </div>
    <div>
        <a href="https://python-library-static-demos.datatig.com/org-id-register/branch/main/type/lists/record/gb-gov/editweb/">
            <img src="{{ site.baseurl }}/images/screenshot.edit.thumb.png" alt="Screenshot of a web form">
        </a>
        <p>Web form to edit data</p>
    </div>
    <div>
        <a href="https://www.datatig.com/datatig_for_this_website/type/blog/record/2024-08-11-hub-released/editweb/">
            <img src="{{ site.baseurl }}/images/screenshot.edit_markdown.thumb.png" alt="Screenshot of a web form with a Markdown editor">
        </a>
        <p>Web form to edit data with markdown blog post</p>
    </div>
    <div>
        <a href="{{ site.baseurl }}/images/screenshot.sqlite.png">
            <img src="{{ site.baseurl }}/images/screenshot.sqlite.thumb.png" alt="Screenshot browsing a SQLite database">
        </a>
        <p>Export to SQLite</p>
    </div>
    <div>
        <a href="{{ site.baseurl }}/images/screenshot.csv.png">
            <img src="{{ site.baseurl }}/images/screenshot.csv.thumb.png" alt="Screenshot of a spreadsheet">
        </a>
        <p>Export to spreadsheets</p>
    </div>
    <div>
        <a href="https://hub.datatig.com/gh/org-id/register/tree/main/type/lists/record/gb-gov/api1.json">
            <img src="{{ site.baseurl }}/images/screenshot.api.thumb.png" alt="Screenshot on a JSON API">
        </a>
        <p>JSON API</p>
    </div>
</div>

<h2>Open Source Python Library</h2>

<p>
    You can use the tools directly as an open source Python library.
</p>

<div class="links">
    <a href="https://pypi.org/project/DataTig/" class="button"><i class="fa-brands fa-python"></i> PyPi</a>
    <a href="https://datatig.readthedocs.io/en/latest/" class="button"><i class="fa-solid fa-book"></i> Docs</a>
    <a href="https://github.com/DataTig/DataTig" class="button"><i class="fa-solid fa-code"></i> Source</a>
    <a href="https://python-library-static-demos.datatig.com/" class="button"><i class="fa-solid fa-display"></i> Demos of Static Website Output</a>
</div>


<h2>Hosted at our Hub</h2>

<p>
    The DataTig features and functionality for your git repository can be hosted at our hub. Your git repository can be on GitHub or any public git host.
</p>

<div class="links">
    <a href="https://hub.datatig.com/" class="button"><i class="fa-solid fa-display"></i> Go to DataTig Hub</a>
    <a href="https://github.com/DataTig/Hub" class="button"><i class="fa-solid fa-code"></i> Source</a>
</div>

<h2>Use with a static site builder like Jekyll</h2>

<p>You can use a static site builder like Jekyll to provide a custom website to the public, and also use DataTig to help contributors and editors work on your data set.</p>

<div class="links">
    <a href="https://datatig.readthedocs.io/en/latest/how-to-guide/use-with-jekyll-blog.html" class="button"><i class="fa-solid fa-book"></i> Docs - use with Jekyll blog</a>
    <a href="https://datatig.readthedocs.io/en/latest/how-to-guide/use-with-jekyll-collections.html" class="button"><i class="fa-solid fa-book"></i> Docs - use with Jekyll collections</a>
    <a href="https://datatig.readthedocs.io/en/latest/how-to-guide/use-github-actions-to-build-and-host-your-site.html" class="button"><i class="fa-solid fa-book"></i> Docs - use GitHub actions and pages to build Jekyll and DataTig at the same time</a>
</div>

<p>For example, this website is a Jekyll and DataTig website!</p>

<div class="links">
    <a href="https://hub.datatig.com/gh/DataTig/datatig.github.io" class="button"><i class="fa-solid fa-display"></i> See this website on DataTig Hub</a>
    <a href="/datatig_for_this_website/" class="button"><i class="fa-solid fa-display"></i> See this website in the static output of DataTig's Python Library</a>
</div>

<p></p>

<h2>Blogs</h2>

{% for post in site.posts %}
    <div itemscope itemtype="https://schema.org/BlogPosting">
        <h3>
            <a href="{{ post.url | relative_url }}" itemprop="url">
                <span itemprop="dateCreated">{{ post.date | date: "%a %e %B %Y" }}</span>:
                <span itemprop="name">{{ post.title }}</span>
            </a>
        </h3>
        <div>
            {% if post.description %}
                {{ post.description }}
            {% else %}
                {{ post.content | strip_html | truncatewords: 50 }}
            {% endif %}
        </div>
    </div>
{% endfor %}

