#datatig
#staticpipes[allbuild]>=0.6
# For testing:
staticpipes[allbuild] @ git+https://github.com/TeacakeTech/staticpipes-core.git@theattic2
git+https://github.com/Datatig/DataTig.git@theattic
markdown-it-py
# Feedgen 1.0.0 has this bug: https://github.com/lkiesow/python-feedgen/issues/135
feedgen<1
